.carlist {
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: white;
    justify-content: center;
    text-align: -webkit-center;
    background-repeat: no-repeat;
    background-color: beige;
}
.carcontainer {
    display: flex;
    width: 60%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    width: 15vw;
    height: 30vh;
    background-color: white;
    text-align: center;
    line-height: 20vh;
    border-color: black 1px;
    border-radius:  30px;
    margin: 0 2% 2% 2%;
}

.inbox {
    display: grid;
    align-content: stretch;
    height: 100%;

}

.img{
    width:250px;
    height: 100px;
    /* background-image: url(../assets/car1.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 10%;
}
.carinfo {
   line-height: 1;
   text-align: left;
margin-left: 10%;
}