.chHeader {
    width: 100%;
    height: 20vh;
    background-color: green;
}
.chBody{
    width: 100%;
    height: 90vh;
    background-color: silver;
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}
.chbutton{
    width: 30%;
    height: 65%;

    margin: 0 3vh;
}
.chbutton2{
    width: 30%;
    height: 65%;
margin: 0 3vh;    
}
.chtext{
    font-size: 40px;
}