.loginpage{
width: 100%;
height: 100vh;
background-color: green
}
.loginbtn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lgbtn{
    margin: 1%;
    background-color: lightgrey;
    width: 20%;
    height: 10vh;
}